* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&display=swap');

body {
  background-color: #141414;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.main-header {
  height: 80px;
  width: auto;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 80px;
  width: 308px;
  margin: 0px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  height: 80px;
  width: 180px;
  background-image: url(images/netflix_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.right-divs {
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: flex-end;
}

.select {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  padding: 0px 15px;
  border-radius: 40px;
  border: 1px solid #333;
  color: #ffffff;
}

.select select {
  appearance: none;
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0px 10px 0px 5px;
  font-size: 1rem;
  cursor: pointer;
}

.select select option {
  font-size: 1rem;
  font-family: inherit;
  color: #ffffff;
  background-color: #222;
  border: none;
}

/* //general button styling */
.right-divs .button a {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 0.6rem 1.25rem;
  background-color: #ffffff;
  color: #141414;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  margin-left: 10px;
  width: auto;
  text-align: center;
}

.banner-image {
  border: 2px solid white;
  border-radius: 25px;
  margin: 10px 31px 0px 31px;
  height: 525px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('images/bannerphoto.jpg');
  background-size: cover;
  background-position: center center;
  /* Ensures the image is properly centered */
  background-repeat: no-repeat;
  /* Prevents image repetition */
}

.banner-image {
  box-shadow: 4px 10px 500px 20px rgba(242, 185, 185, 0.171);
  /* General glow around the image */
}

.banner-image .heading-up {
  font-family: Arial, Helvetica, sans-serif, serif;
  font-size: 3.5rem;
  font-weight: 1000;
  text-align: center;
  position: relative;
  top: 16rem;
}

.banner-image .heading-down {
  font-family: Arial, Helvetica, sans-serif, serif;
  font-size: 3.5rem;
  font-weight: 1000;
  text-align: center;
  position: relative;
  top: 15rem;
}

.banner-image .Supporting-text {
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 525;
  top: 16rem;
}

.joining-section .join {
  /* border: 2px solid white; */
  margin-left: 29rem;
  margin-right: 29rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joining-section .supporting-text {
  margin-top: 1rem;
  text-align: center;
  color: #ffffff80;
  font-weight: 550;
}

.joining-section .join input {
  height: 3.5rem;
  width: 63%;
  padding-left: 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #141414;
  border: 1px solid #ffffff80;
  border-radius: 2rem;
  opacity: 1;
  box-sizing: border-box;
}

.complete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  width: 35%;
  border-radius: 2rem;
  text-align: center;
  border: none;
  background-color: rgb(229, 9, 20);
}

.complete-btn button {
  background: transparent;
  border: none;
}

.complete-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}

.trending-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.trending-section p {
  margin-left: 8.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff90;
  padding: 0.75rem 0;
}

/* select buttons below "Trending Now" */
.trending-section .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8.5rem;
  gap: 1rem;
}

/* region */
.right .select-region {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  padding: 0px 15px;
  border-radius: 40px;
  border: 1px solid #333;
  color: #ffffff;
}

.right .select-region select {
  appearance: none;
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0px 10px 0px 5px;
  font-size: 1rem;
  cursor: pointer;
}

.right .select-region option {
  font-size: 1rem;
  font-family: inherit;
  color: #ffffff;
  background-color: #222;
  border: none;
}

/* movie */
.right .select-movies {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  padding: 0px 15px;
  border-radius: 40px;
  border: 1px solid #333;
  color: #ffffff;
}

.right .select-movies select {
  appearance: none;
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0px 10px 0px 5px;
  font-size: 1rem;
  cursor: pointer;
}

.right .select-movies option {
  font-size: 1rem;
  font-family: inherit;
  color: #ffffff;
  background-color: #222;
  border: none;
}

.trending-posters {
  display: flex;
  justify-content: space-between;
  margin: 1rem 11%;
  width: 78%;
}

/* --------------------------------------- */
.trending-posters div a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  padding-left: -1rem;
  text-decoration: none;
  color: transparent;
  /* -webkit-text-stroke: 2px #ffffff80; */
  font-weight: 700;
}

/* ---------------------------------------- */
.trending-posters .poster1 {
  width: 11.5%;
  background: url(images/card1.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster2 {
  width: 11.5%;
  background: url(images/card2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster3 {
  width: 11.5%;
  background: url(images/card3.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster4 {
  width: 11.5%;
  background: url(images/card4.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster5 {
  width: 11.5%;
  background: url(images/card5.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster6 {
  width: 11.5%;
  background: url(images/card6.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters .poster7 {
  width: 11.5%;
  background: url(images/card7.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 17rem;
  border-radius: 1rem;
}

.trending-posters div:hover {
  transform: scale(1.05);
  /* Grows the poster slightly */
  transition: transform 0.5s ease;
  /* Smooth transition effect */
}

.reasons-to-join_text {
  margin-left: 8.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fffffff5;
  padding: 0.75rem 0;
  padding-top: 2rem;
}

.resonstojoin_cards {
  display: flex;
  justify-content: space-between;
  margin: 1rem 9%;
  width: 82%;
}

.resonstojoin_cards .card1 {
  width: 20%;
  height: 6rem;
  background-color: #222;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
}

.resonstojoin_cards div i {
  font-size: 2rem;
  background: linear-gradient(to right, red, purple);
  -webkit-background-clip: text;
  color: transparent;
}


.resonstojoin_cards .card2 {
  width: 20%;
  height: 6rem;
  background-color: #222;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
}

.resonstojoin_cards .card3 {
  width: 20%;
  height: 6rem;
  background-color: #222;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
}

.resonstojoin_cards .card4 {
  width: 20%;
  height: 6rem;
  background-color: #222;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
}

.faqs-section .faq-heading {
  margin-left: 8.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 0.75rem 0;
  padding-top: 2rem;
}

/* Container styling */
.dropdown-container {
  width: 82%;
  margin: 20px auto;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
}


/* Hide the checkbox */
.dropdown-toggle {
  display: none;
}

/* Header (closed state) */
.dropdown-header {
  padding: 2rem 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Plus icon */
.plus-icon {
  font-size: 20px;
}

/* Content hidden by default */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #2b2a2a;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}


/* When checkbox is checked, expand content */
.dropdown-toggle:checked~.dropdown-content {
  max-height: 100px;
  /* Adjust based on your content */
  padding: 10px 20px;
}

footer .joining-section .supporting-text {
  color: white;
  padding-bottom: 1rem;
}

footer .joining-section .complete-btn {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  /* Centers the button */
  align-items: center;
  /* Aligns the button vertically */
}

footer .complete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  width: 30%;
  margin-left: 35%;
  border-radius: 2rem;
  text-align: center;
  border: none;
  background-color: rgb(229, 9, 20);
}

footer .complete-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

footer .contactus {
  padding-left: 8rem;
  color: #ffffff90;
}

footer a {
  color: #ffffff90;
}

footer .select {
  margin-top: 2rem;
  margin: 3rem;
  margin-left: 8rem;
  width: 7rem;
  border: 2px solid #ffffff80;
}

footer .end {
  padding-left: 8rem;
  padding-bottom: 5rem;
  color: #ffffff90;
}